/**
 * Site Layout
 */
 $orange : #f2883a;
 $grey: #5a5a5a;

 .text-center {
    text-align: center;
}
.w-40{
    width: 40% !important;
}
.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.site-content {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
}

.mt-20{
    margin-top: 20px;
}


header{
    .navbar__list menu{
        justify-content: flex-end;
        .navbar__item {
           &:not(.navbar__item--btn){
            font-size: 1.175em;
           }
            a{
                &.btn-xs {
                    transform: scale(.9);
                }
            }
        }
    }
    .secondary_menu{
        .navbar__list menu{
            justify-content: flex-end;
            margin-bottom: 20px;
        }
        .navbar__item {
            a:first-child{
                margin-right: 20px;
            }
            img {
                width: 29px;
                position: relative;
                top: 8px;
                margin-right: 10px;
            }
        }
    }
}
.request_col{
    padding-left: 90px
}

// flex row
.d-flex {
    display: flex;
    > .grid-item {
        width: 100%;
        &.mw-480{
            max-width: 480px;
        }
        &.mw-330{
            max-width: 330px;
        }
        &.mw-300{
            max-width: 300px;
        }
    }
}

.card{
    padding: 13px
}

.grid {
    display: flex;
    flex-wrap: wrap;
    &.grid-col-3{
        .grid-item {
            max-width: 33.3%;
            width: 100%;
            
        }
    }
    &.grid-col-4{
        .grid-item {
            max-width: 23%;
            width: 100%;
            padding: 1%;
        }
    }
}


//Page title
h1.block-title {
    font-size: 2.1rem;
    font-weight: 500;
    /* text-align: center; */
    margin-bottom: 3.5rem;
    position: relative;
    padding-bottom: 2rem;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        background: $orange;
        height: 11px;
        width: 20%;
        padding-bottom: 2e;
        border-radius: 3px;
    }
    &:before {
        content: '';
        position: absolute;
        height: 2px;
        width: 75%;
        background: $orange;
        bottom: 4px;
    }
}
section.section.section--posts {
    display: none;
}
.insutrial_sectors{ 
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 5em;
    .block-content {
        max-width: 1000px;
        margin: 0 auto;
    }
    .card{
        text-align: center;
        padding-top: 40px;
        padding-bottom: 35px;
        border-radius: 20px;
        .card_title {
            font-size: 19px;
            font-weight: 500;
        }

        &:hover{
            box-shadow: 0px 0px 14px 3px #00000014;
            background: #fdf7e8;
            /* border-color: #eee; */
            transform: scale(1.031);
            transition: .3s;
            .grid-item-image { 
                background-color: $orange;
                img{
                    filter: invert(1) brightness(1) contrast(5);
                }
            }
        }
    }
    .grid-item-image { 
        width: 70px;
        height: 70px;
        border: 2px solid $orange;
        padding: 16px;
        border-radius: 100px;
        margin: 0 auto 30px;
        // margin-bottom: 40px;
        img{
            height: 100%;
            width: 100%;
        }
    }
}


// contact section 
.contact_us {
    background-color: $grey;
    padding: 5em 0;
    position: relative;
    overflow: hidden;
    &:after{
        // content: url("images/lines.svg");
    }

    img.shape_contact.right {
        left: inherit;
        right: -9%;
    }
    img.shape_contact.left {
        transform: rotateY(180deg);
        /* right: 0; */
        /* left: inherit; */
    }
    img.shape_contact {
        position: absolute;
        height: 100%;
        top: 0;
        left: -9%; 
        opacity: .3;
    }
    .block-title{
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        color: #fff;
        &:after, &:before{
            background-color: #fff;
        }
        &:after{
            width: 40%;
        }
    }
    .block-content{
        position: relative;
        z-index: 2;
    }
    .grid-item-inside {
        .grid-item-image {
            img {
                width: 42px;
                filter: invert(1);
                margin-bottom: 30px;
            }
        }
        .grid-item-title{
            color: #fff;
            .card_title {
                font-size: 26px;
                font-weight: 500;
            }
            .card_action {
                color: #fff;
                text-decoration: none;
                font-size: 20px;
                font-weight: 500;
                margin-top: 17px;
                display: block;
                &:hover{
                    opacity: .8;
                }
                img{
                    width: 18px;
                    filter: invert(1);
                    margin-left: 10px;
                    position: relative;
                    top: 2px;
                }
            }
        }
    }
}

.w-80{
    width: 80% !important;
}

// footer section
.footer_top{
    margin-bottom: 2em;
    .footer_logo {
        max-width: 320px;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    .cust_row {
        display: flex;
        position: relative;
        padding-bottom: 3em;
        > div{
            width: 100%;
            .footer_col_title {
                font-size: 26px;
                font-weight: 500;
                margin-bottom: 22px;
            }
            .footer_menu{
                list-style-type: none;
                padding-left: 3px;
                li {
                    margin-bottom: 10px;
                    img{
                        width: 16px;
                        margin-right: 10px;
                        position: relative;
                        top: 3px;
                    }
                    a{
                        color: #444;
                        text-decoration: none;
                    }
                }
            }
            .address {
                margin-bottom: 35px;
            }
            .social{
                .site-footer__social {
                    li{
                        &:first-child{
                            margin-left: 0;
                        }
                    }
                    .icon{
                        width: 50px;
                        height: 50px;
                        transition: .1s;
                        &:hover {
                            transform: scale(1.1);
                            transition: .1s;
                        }
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
        .shape_footer{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 78%;
            background: #f2883a;
            height: 2px;
            span{
                position: absolute;
                bottom: -4px;
                left: 0;
                width: 30%;
                height: 11px;
                background: #f2883a;
                border-radius: 2px;
            }
        }
    }
}


// footer bottom
.footer_bottom{
    .copy_right {
        font-weight: 500;
        color: #444;
        font-size: 19px;
        margin-bottom: .5rem;
    }
    .develop_info {
        color: #444;
        margin-bottom: 20px;
        a{
            font-weight: 500;
            text-decoration: none;
            color: #444;
            margin-left: 8px;
        }
    }
}



@media only screen and (max-width: 1100px){
    .insutrial_sectors{
        .grid-col-4{
            .grid-item {
                max-width: 50%;
                width: 100%;
                
            }
        }
    }
} 
@media only screen and (max-width: 480px){
    .insutrial_sectors{
        .grid-col-4{
            .grid-item {
                max-width: 100%;
                width: 100%;
                
            }
        }
    }
}


